<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <!--<connectionStrings>
		<add name="AzureBancoDeDados" connectionString="Server=tcp:eot9dccau4.database.windows.net,1433;Database=testedb;User ID=alunos@eot9dccau4;Password=web2015$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
  <connectionStrings>
    <add name="BancoLocalWEb" connectionString="Data Source=RAFAELNOTEBOOK;Initial Catalog=WebClass;User ID=databasesiterafael;Password=rafael088" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>